{% schema %}
{
    "name": "Gift Guide",
    "settings":[
        {
            "type": "text",
            "id": "announcement_logo",
            "label": "Logo or company name",
            "default": "Tisso Vision"
        },

        {
            "type": "text",
            "id": "announcement_centerline",
            "label": "announcement",
            "default": "Find the ideal gift for your loved ones"
        },

        {
            "type": "text",
            "id": "announcement_btn",
            "label": "button",
            "default": "CHOOSE GIFT"
        },

        {
            "type": "text",
            "id": "gift-guide_title",
            "label": "heading",
            "default": "The Gift Guide"
        },
        {
            "type": "textarea",
            "id": "gift-guide_subtitle",
            "label": "subheading",
            "default": "Discover joy: your ultimate holiday gift destination. Explore our curated selection and find the perfecct gifts to delight your loved ones this holiday season."
        }
        
        
    ],
    "blocks":[],
    "presets": [
        {
            "name": "Gift Guide"
        }
    ]

}
{% endschema %}

<div class="gift-guide_announcement">
    <div class="announcement_left">{{ settings.announcement_logo }}
    </div>
    <div class="announcement_center">{{ settings.announcement_centerline }}</div>
    <div class="announcement_right">
        <a href="#" class="announcement_btn">{{ settings.announcement_btn }}
            <span class="announcement_arrow">
             <img src="{{ 'icon-arrow.svg' | asset_url }}" height="16px" width="16px" alt= "arrow">
             </span>
        </a>
    </div>
</div>

<div class="gift-guide_frame">
    <img src="{{ 'Frame.svg' | asset_url }}" alt="Decorative bg" height="100%" width="100%">
</div>

<section class="gift-guide">
    <div class="gift-guide_whiteSpace">

        <div class="gift-guide_content">
            <h2 class="gift-guide_title">{{ settings.gift-guide_title }}</h2>
            <p class="gift-guide_text">{{ settings.gift-guide_subtitle }}
            </p>
            <a href="#" class="gift-guide_btn">{{ settings.gift-guide_btn }}
                <span class="gift-guide_arrow">
                <img src="{{ 'icon-arrow.svg' | asset_url }}" height="16px" width="16px" alt= "arrow">
                </span>
            </a>
    
    
        </div>
    </div>

</section>  

<div class="endline">
<p class="tagline">{{ settings.tagline_ext }}</p>
</div>