{% schema %}
{
    "name": "Featured Product Grid",
    "settings":[
        {
            "type": "text",
            "id": "grid_heading",
            "label": "Grid section heading",
            "default": "Tisso vison in the wild"
        },
        {
            "type": "product",
            "id": "product_1",
            "label": "product 1"
        },
        {
            "type": "product",
            "id": "product_2",
            "label": "product 2"
        },
        {
            "type": "product",
            "id": "product_3",
            "label": "product 3"
        },
        {
            "type": "product",
            "id": "product_4",
            "label": "product 4"
        },
        {
            "type": "product",
            "id": "product_5",
            "label": "product 5"
        },
        {
            "type": "product",
            "id": "product_6",
            "label": "product 6"
        }
    ],
    "presets": [
        {
            "name":"Featured Product Grid",
            "category": "Products"
        }
    ]
}
{% endschema %}

<section class="product-grid-section">
    <h2>{{ section.settings.grid_heading }}</h2>
    <div class="product-grid_container">

        {% assign products_list = section.settings.product_1 | append: ',' | append: section.settings.product_2 | append: ',' | append: section.settings.product_3 | append: ',' |
        append: section.settings.product_4 | append: ',' | append: section.settings.product_5 | append: ',' | append: settings.product_6 %}
        {% assign products_list = products_list | split: ',' %}

        {% for product_handle in products_list %}
            {% assign product_obj = all_products[product_handle] %}
            {% if product_obj %}
                <div class="product-grid_item" data-product-handle="{{ product_obj.handle }}">
                    <img src="{{ product.featured_media.preview_image | image_url: 'medium' }}" alt="{{ product_obj.title }}" height="444px" width="433px">
                    <div class="btn">
                    <button class="product-grid_info-btn" data-handle="{{ product_obj.handle }}">
                        <img src="{{'icon-plus.svg' | asset_url}}" alt="view info" height="8px" width="8px"> 
                    </button>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
    </div>
    </section>

